cmake-build-debug
cmake-build-release
cmake-build-debug-mingw
cmake-build-release-mingw
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
build
build-fmt
build-logger
log
.idea
log.txt
.vscode
.vs
gh-md-toc.exe
gh-md-toc