[submodule "tests/third-part-logger"]
	path = tests/third-part-logger
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/fmt"]
    path = dependencies/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/ejson4cpp"]
	path = dependencies/ejson4cpp
	url = https://github.com/ACking-you/ejson4cpp
